.form{
  max-width: 1400px;
  background: #ebebeb;
  padding: 50px 0;
  &__main{
    display: flex;
    justify-content: center;
  }
}

.window{
  width: 400px;
  display: flex;
  flex-flow: column nowrap;
  background: #666666;
  color: #ebebeb;
  border: 1px solid #666666;
  border-radius: 5px;
  overflow: hidden;
  &__header{
    display: flex;
    align-self: center;
    font-size: 16px;
    line-height: 3;
    font-weight: 600;
  }
  &__separator{
    display: flex;
    align-self: center;
    width: 200px;
    height: 2px;
    background: #ebebeb;
  }
  &__message{
    display: none;
    &.active{
      display: flex;
      align-self: center;
      margin: 0 0 20px;
    }
  }
}

.course-title,
.course-img,
.course-price,
.course-description{
  display: flex;
  flex-flow: column nowrap;
  padding: 0 20px;
  &__text{
    margin: 0 0 5px;
  }
}

.course-title,
.course-img,
.course-price{
  &__input{
    width: 100%;
    padding: 8px 12px;
    outline: 0;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
    transition: color .1s ease,border-color .1s ease;
    &:focus{
      border-color: #ebebeb;
    }
  }
}

.course-img,
.course-price{
  margin: 10px 0 0;
}

.course-title{
  margin: 20px 0 0;
}

.course-description{
  margin: 10px 0 20px;
  &__textarea{
    width: 100%;
    padding: 8px 12px;
    outline: 0;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px;
    transition: color .1s ease,border-color .1s ease;
    resize: vertical;
    &:focus{
      border-color: #ebebeb;
    }
  }
}

.manipulators{
  display: flex;
  justify-content: space-between;
  &__button{
    width: 50%;
    height: 35px;
    background: #666666;
    color: #ebebeb;
    outline: none;
    border: 1px solid #999999;
    cursor: pointer;
    &:hover{
      background: #999999;
    }
    &_create{
      border-bottom: none;
      border-left: none;
      //color: #2185D0;
    }
    &_cancel{
      border-right: none;
      border-bottom: none;
      border-left: none;
      //color: #DB2828;
    }
  }
}