.nav{
  max-width: 1400px;
  background: #ebebeb;
  &__main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background: #ebebeb;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    transition: .15s ease-in-out;
    &:hover, &.active{
      background: #DCDCDC;
      cursor: pointer;
    }
  }
}