*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button{
  font-family: 'Play';
  font-size: 14px;
  font-weight: 400;
}

input,
textarea{
  background: #999999;
  color: #ebebeb;
  &:focus{
    color: #ebebeb;
  }
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

.component{
  display: none;
}

.course{
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #ebebeb;
  border: 1px solid #666666;
  background-color: #000;
  &__title{
    display: flex;
    font-size: 16px;
    line-height: 3;
    font-weight: 600;
  }
  &__separator{
    display: flex;
    align-self: center;
    width: 200px;
    height: 2px;
    background: #ebebeb;
  }
  &__price{
    margin: 7px 0 0;
    line-height: 3;
  }
  &__description{
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    text-align: justify;
  }

}

.buttons{
  /*margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &__remove,
  &__in-cart{
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    line-height: 0;
  }
  &__in-cart{
    margin: 0 15px 0 5px;
  }
  &__remove > i{
    color: #cc0000;
    &:hover{
      color: #990000;
    }
  }
  &__in-cart > i{
    color: #ebebeb;
    &:hover{
      color: #d1d1d1;
    }
  }*/
}

