@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url(/fonts/Play/Play-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url(/fonts/Play/Play-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

